.deviconASH{
    width: 100%;
}
.deviconASH i{
    width: 30px;
	height: 30px;
    font-size: 30px;
    margin: 5px 20px;
}
.deviconASH svg{
    width: 30px;
	height:30px;
    font-size: 20px;
    margin: 5px 20px;
}
.deviconASH   .development-devicons{
    display: block;
}
.deviconASH   .analysis-devicons{
    display: block;
}
.deviconASH   .mechanical-devicons{
    display: block;
}
.centerAlign{
    display: -webkit-flex; 
    -webkit-align-items:center; 
    align-items: center;
		text-align: center;
}
.page-header{
    padding: 0!important;
    height: 0px!important;
    font-size: 0px!important;
}
.page-title {
    text-align: center;
    position: inherit;
    color: #fff;
    font-size: 24px;
    max-width: 1500;
    margin: 0!important;
    height: 0px;
}
